<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="dark" >
  <ion-list  color="dark" >
    <ion-item
      (click)="goToListPage(list.id)"
      *ngFor="let list of lists" detail  color="dark">
      <ion-label>
        {{ list.title }}
      </ion-label>
      <ion-note slot="end">{{list.items.length}}</ion-note>
    </ion-item>
  </ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="newList()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
